{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center">Live Token Data</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Market Cap</th>
                <th>24h Change</th>
            </tr>
        </thead>
        <tbody>
            {% for token in tokens %}
            <tr>
                <td>{{ token.name }}</td>
                <td>${{ token.price }}</td>
                <td>${{ token.market_cap }}</td>
                <td>{{ token.change_24h }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
